@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Oběšenec</title>
</head>
<body>
    <div class="row justify-content-center">

    </div>
    @for (int y = 1; y != Model.dice.pocetpismen; y++)
    {
        if (Model.dice.uhodnute[y] != null)
        {
            <span>@Model.dice.uhodnute[y]</span>
        }
        else
        {
            <h3>-</h3>
        }
    }

    <p></p>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Input.pismeno" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary my-1">Submit</button>
    </form>
    <p></p>
    <p>zkoušeliste :</p>
    @for (int s = 1; Model.dice.zkoušene[s] != null; s++)
    {
        <span>@Model.dice.zkoušene[s]</span>
    }
    @if (Model.dice.početchyb == 0)
    {
        <img src="~/0.png" />
    }
    @if (Model.dice.početchyb == 1)
    {
        <img src="~/1.png" />
    }
    @if (Model.dice.početchyb == 2)
    {
        <img src="~/2.png" />
    }
    @if (Model.dice.početchyb == 3)
    {
        <img src="~/3.png" />
    }
    @if (Model.dice.početchyb == 4)
    {
        <img src="~/4.png" />
    }
    @if (Model.dice.početchyb == 5)
    {
        <img src="~/5.png" />
    }
    @if (Model.dice.početchyb == 6)
    {
        <img src="~/6.png" />
    }


</body>
</html>
