@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Oběšenec</title>
</head>
<body>
    @for (int y = 1; y != Model.Servisak.pocetpismen; y++)
    {
        <span>-</span>
    }
    <a asp-page="/Index" asp-page-handler="Kamen" asp-route-id=š> zde pro š</a>
    <a asp-page="/Index" asp-page-handler="Kamen" asp-route-id=e> zde pro e</a>
</body>
</html>
