@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Oběšenec</title>
</head>
<body>
    @for (int y = 1; y != Model.dice.pocetpismen; y++)
    {
        if (Model.dice.uhodnute[y] != null)
        {
            <span>@Model.dice.uhodnute[y]</span>
        }
        else
        {
            <span>-</span>
        }
    }
    <p></p>
    


    <a asp-page="/Index" asp-page-handler="Kamen" asp-route-s=š> zde pro š</a>
    <a asp-page="/Index" asp-page-handler="Kamen" asp-route-s=e> zde pro e</a>
</body>
</html>
